<main class="contenedor contenedor-formularios no-padding">
    <h1><%- namePage %></h1>

    <form class="default-form" action="/change-password" method="POST">
        <div class="campo">
            <label>Contraseña Actual</label>
            <input type="password" name="oldPassword" placeholder="Contraseña Actual">
        </div>
        <div class="campo">
            <label>Nueva Contraseña</label>
            <input type="password" name="newPassword" placeholder="Nueva Contraseña">
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Cambiar Contraseña">
        </div>
    </form>
</main