<main class="contenedor contenedor-formularios">
    <h1><%= namePage %></h1>
    <form method="POST" class="default-form">
        <legend>¿Desea eliminar el grupo?, Un grupo eliminado no se podrá recuperar</legend>
        <div class="campo enviar">
            <input type="submit" value="Eliminar Grupo" class="btn btn-rosa">
        </div>  
    </form>
</main>