<main class="contenedor contenedor-formularios">
    <h1>
        <%= namePage %>
    </h1>
    <form action="/login" method="POST" class="default-form">
        <div class="campo">
            <label for="email">E-Mail</label>
            <input type="email" name="email" placeholder="Correo Electr칩nico">
        </div>
        <div class="campo">
            <label for="password">Contrase침a</label>
            <input type="password" name="password" placeholder="Contrase침a">
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Iniciar Sesi칩n">
        </div>
    </form>
</main>