<h1 style="text-aling: center; font-family: Arial, Helvetica">Confirmar la Cuenta</h1>
<p style="font-family: Arial, Helvetica">Hola, estas a un paso de comenzar a crear una comunidad en Aficiones, 
solo debes confirmar tu cuenta en el suguiente enlace</p>
<a style="display: block;font-family: Arial, Helvetica; padding: 1rem; background-color: #00C897; color: white; text-transform: upercase; text-align: center; text-decoration: none;" href="<%= url %>">Confirma la cuenta</a>
<p style="font-family: Arial, Helvetica">Sino puedes acceder a este enlace, visita : <%= url %></p>
<p style="font-family: Arial, Helvetica">Si no solicitaste este e-mail puedes ignorarlo</p>